# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.python-version

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Node modules
node_modules/

# Environment
.env

# Ignore local IDE files
.idea/
